*{
			padding:0;
			margin:0;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		/*header*/
		header,header *{
			padding:0;
			margin:0;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		header{
			background: {{=it.data.widgets.banner_bg || '#054ada'}};
			position: relative;
			margin-bottom: 0px;
			
		   /* border-bottom: 1px solid rgba(0,0,0,0.12);*/
		}

		header .header-wrap{
			max-width: 1240px;
			margin-right: auto;
			margin-left: auto;
		}


		header .nofloat::before{
			display: table;
			content: " ";
		}
		header .nofloat:after{
			display: table;
			content: " ";
			clear: both;
		}

		header  .navbar-brand{
			overflow:hidden;
			display: inline-block;
			float:left;
		}
		header  .navbar-brand img#logo{
			height:30px;
			float:left;
			margin: 10px;
		}

		header .navbar-nav{
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
			text-align:right;
		}
		header  .navbar-nav .fmenu{
			position: relative;
			display: inline-block;
		}
		header .navbar-nav .fmenu .fmenu-a{
			line-height: 24px;
			position: relative;
			display: block;
			padding: 0px 16px;
			color: #fff;
			font-size: 16px;
			text-decoration: none;
			font-weight: 400;
			line-height:66px;
		}
		header .navbar-nav .fmenu:last-child .fmenu-a{
			padding-right:0px;
		}

		header  .dropdown-menu{
			list-style:none;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
			background-color: #fff;
			margin-top: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			z-index: 111111;
			display: none;
			float: left;
			position: absolute;
			top: 100%;
			right: 0;
			padding: 6px 0;
		}
		header .navbar-nav a.fmenu-a:hover+ul.dropdown-menu{
			display: block;	
		}
		header .navbar-nav  ul.dropdown-menu:hover {
			display: block;
		}

		header .dropdown-menu a {
			display: block;
			padding: 3px 20px;
			clear: both;
			font-weight: 400;
			line-height: 1.5;
			color: #333;
			white-space: nowrap;
			text-decoration:none;
			padding: 3px 20px;
			
		}
		header .dropdown-menu a:focus,.dropdown-menu a:hover {
			background-color: #e6e6e6;
		}
		header .caret {
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 2px;
			vertical-align: middle;
			border-top: 4px dashed;
			border-top: 4px solid\9;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			box-sizing: border-box;
			margin-left:5px;
		}
		header .navbar-brand {
				position: relative;
				padding: 0px 16px;
				color: #fff;
				font-size: 30px;
				text-decoration: none;
				font-weight: 400;
				line-height: 50px;
				font-family: STHeiti;
			}
		.header-wrap .navbar-brand {
			line-height: 50px;
			padding: 8px 0;
		}
			
		.header-wrap .navbar-brand span {
			display: inline-block;
		}
		.header-wrap .navbar-brand span:before {
			float: left;
			content: '';
			display: block;
			width: 50px;
			height: 50px;
			background-image: url({{=it.site.widgets.logo}});
			margin-right: 10px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		@media only screen and (max-width: 960px){
			header .header-wrap{
				display: block;
			}
			header .navbar-brand{
				display:block;
				text-align:center;
				float:none;
			}
			header .navbar-nav {
				float:none;
				display: block;
				text-align:center;
			}
			header .navbar-brand img#logo{
				height:40px;
				float:none;
			}
			header .navbar-nav .fmenu .fmenu-a{
				font-size:15px;
				line-height:50px;
				padding: 0px 0px 0 10px;
				font-weight:700;
			}
		}
		
*{
	padding:0;
	margin:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*banner*/
#banner, #banner *{
	padding:0;
	margin:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#banner{
	background-color: #fff;
	position: relative;
    margin-bottom: 0px;
	
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

#banner .banner-wrap {
	box-sizing:content-box;
    overflow: hidden;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
	text-align: center;
}


#banner .nofloat::before{
	display: table;
	content: " ";
}
#banner .nofloat:after{
	display: table;
	content: " ";
	clear: both;
}
#banner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 400px;
    background: no-repeat 50%;
    -moz-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
#banner h1 {
    font-size: 48px;
    letter-spacing: 2px;
    color: #fff;
}

#banner .banner-info {
    margin-top:10px
}
#banner .banner-info p {
    font-size: 20px;
    line-height: 34px;
    color: #fff;
	text-align: center;
}
#banner .banner-btn-list {
    margin-top: 30px;
    overflow: hidden;
}

#banner .banner-btn-ghost {
	background-color: hsla(0,0%,100%,.1);
    border: 1px solid #fff;
	line-height: 33px;
}
#banner .banner-btn-ghost:hover, #banner .banner-btn-primary a:hover {
    background-color: #d51717;
}


#banner .banner-btn a {
    display: inline-block;
    color: #fff;
	text-decoration: none;
	border: none;
	background: #e33737;;
	font-size:20px;
	border-radius: 5px;
	padding:12px 20px;
}
#banner .banner-btn {
    font-size: 16px;
    color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 20px;
    cursor: pointer;
	margin: 0 auto;
}
@media only screen and (max-width: 960px){
		#banner .banner-wrap {
		width: 100%;
		padding:10px;
		text-align:center;
	}
	#banner .banner-info {
		margin: 5px;
	}
	#banner .banner-btn-list {
    float: none;
}
	#banner .banner-btn-primary {
		float: none;
		margin: 0 auto;
	}
	#banner .banner-btn-ghost {
		display:none;
	}

}

.article-body{
	padding:20px 0;
}


#guide_article, #article-wrap *{
	padding:0;
	margin:20 auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","Source Han Sans CN",sans-serif;
    -webkit-font-smoothing: inherit;
	color: #0b1531;
}

#guide_article .article-wrap {
    max-width: 700px;
	margin:0 auto;
}
#guide_article .article-title h2 {
    font-size: 36px;
    font-weight: 700;
    color: #20212c;
    letter-spacing: 0;
    line-height: 54px;
	text-align: center;
}
@media (max-width: 1279px){
.article-body {
	padding-left:10px;
	padding-right:10px;
}
}
.article-body img {
	margin:0 auto;
	text-align:center;
    display: block;
    margin-top: 12px;
    margin-bottom: 18px;
    max-width: 100%;
	border:0;
	
}

.article-body h2 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 25px;
}
.article-body p {
    font-size: 16px;
	margin: 1.4em 0;
	line-height:1.6em;
}
.article-body h3 {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 16px;
}
.article-body ol {
    padding-left: 36px;
    list-style-type: decimal;
}
.article-body ol li {
    padding-left: 4px;
	margin-top: 12px;
    margin-bottom: 12px;
}


footer {
    background-color: #3e434f;
    padding-top: 10px;
    color: #ccc;
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
    width: 100%;
}
footer a {
    color: #ccc;
}